In [43]:
import numpy as np
import pandas as pd

In [44]:
df = pd.read_csv("./datasets/findS.csv")

In [45]:
df

     Sky AirTemp Humidity    Wind Water Forecast  Output
0  Sunny    Warm   Normal  Strong  Warm     Same       1
1  Sunny    Warm     High  Strong  Warm     Same       1
2  Rainy    Cold     High  Strong  Warm   Change       0
3  Sunny    Warm     High  Strong  Cool   Change       1
4  Rainy    Cold   Normal    Weak  Cool     Same       1

In [77]:
X = df.drop(columns = ['Output'] , axis=1)
y = df['Output']
X = np.array(X)
X = X[0:4 , :]
y = np.array(y)

In [78]:
for row in X:
    print (row)

['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']

In [79]:
def findS(X , y):
    specific_hypothesis = ["pi" for i in range(X.shape[1])]
    for (i , row) in enumerate(X):
        if(y[i] == 1):
            for (j , val) in enumerate(specific_hypothesis):
                if val == "pi":
                    specific_hypothesis[j] = row[j]
                elif val != row[j]:
                    specific_hypothesis[j] = "?"
    for val in specific_hypothesis:
        print(val)

In [80]:
findS(X , y)

Sunny
Warm
?
Strong
?
?

## Candidate Elimination algorithm

In [82]:
df = pd.read_csv("./datasets/findS.csv")
df = df.iloc[0:4 , :]
df

     Sky AirTemp Humidity    Wind Water Forecast  Output
0  Sunny    Warm   Normal  Strong  Warm     Same       1
1  Sunny    Warm     High  Strong  Warm     Same       1
2  Rainy    Cold     High  Strong  Warm   Change       0
3  Sunny    Warm     High  Strong  Cool   Change       1

In [83]:
X = np.array(df.drop(columns=['Output']))
y = np.array(df['Output'])

In [87]:
S = ["pi" for i in range(X.shape[1])]
G = [["?" for i in range(X.shape[1])] for i in range(X.shape[1])]

In [93]:
def candidate_elimination(X , y):
    for (i , row) in enumerate(X):
        if y[i] == 1:
            for (j , val) in enumerate(row):
                if S[j] == "pi":
                    S[j] = val
                elif S[j] != val:
                    S[j] = "?"
                    G[j][j] = "?"
        else:
            for ( j , val) in enumerate(row):
                if G[j][j] == "?":
                    G[j][j] = S[j]
                elif G[j][j] == val:
                    G[j][j] = S[j]
    for val in S:
            print(val)
    for val in G:
            print (val)

In [94]:
candidate_elimination(X , y)

Sunny
Warm
?
Strong
?
?
['Sunny', '?', '?', '?', '?', '?']
['?', 'Warm', '?', '?', '?', '?']
['?', '?', '?', '?', '?', '?']
['?', '?', '?', 'Strong', '?', '?']
['?', '?', '?', '?', '?', '?']
['?', '?', '?', '?', '?', '?']